body {
    background-color: #E1DEDE;
    margin: 0;
}
.newsreader {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: 0em;
}

.instrument-serif-regular {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: -0.02em;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 2em;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    padding: 30px 50px;
    letter-spacing: -0.05em;
}

nav ul {
    display: flex;
    justify-content: center;
    padding-right: 5%;
}

nav ul li {
    font-size: 1.5em;
    list-style: none;
    margin-left: 1%;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.context {
    display: flex;
    flex-direction: column;
    margin: 100px 15%;
}

.context h1 {
    font-size: 70px;
    margin: 0;
}

.text {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}

.desc{
    max-width: 400px;
    font-size: 18px;
    margin-right: 10%;
}

.tech {
    font-size: 18px;
    margin-right: 100px;
    border-top: 1px solid black;
    width: 150px;
    margin-top: 20px;
    padding: 0;
}

.tech a{
    text-decoration: none;
    color: black;
}

.tech a:hover {
    color: #6ec1e4;
}

.slideshow img{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 10px;
    max-height: 60vh; 
}

.slideshow {
    margin-top: 10%;
}

footer {
    margin-top: 50px;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

footer ul {
    display: flex;
    margin-left: 10px;
    list-style-type: none;
}

.footer-icons {
    font-size: 20px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 100px;
    color: black;
}

.footer-icons {
    animation: transform 0.5 ease-in-out;
}

.footer-icons:hover {
    transform: scale(1.2);
}

.slideshow {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.slideshow button {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    background-color: white;
    color: green;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 36px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    
}


.slideshow .prev {
    left: 10px;
}

.slideshow .next {
    right: 10px;
}

.next-button button {
    border: none;
    margin-right: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .slideshow button {
        width: 35px;
        height: 35px;
        font-size: 24px;    
    }

    /* .slideshow img {
        height: 25vh;
    } */
}